<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Challenge-3" data-toc-modified-id="Challenge-3-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Challenge 3</a></span><ul class="toc-item"><li><span><a href="#Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?" data-toc-modified-id="Q1:-How-to-identify-VIP-&amp;-Preferred-Customers?-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Q1: How to identify VIP &amp; Preferred Customers?</a></span></li><li><span><a href="#How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="How-to-label-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>How to label customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?" data-toc-modified-id="Sub-Problem-1:-How-to-aggregate-the--amount_spent-for-unique-customers?-1.2.0.1"><span class="toc-item-num">1.2.0.1&nbsp;&nbsp;</span>Sub Problem 1: How to aggregate the  <code>amount_spent</code> for unique customers?</a></span></li><li><span><a href="#Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?" data-toc-modified-id="Sub-Problem-2:-How-to-select-customers-whose-aggregated-amount_spent-is-in-a-given-quantile-range?-1.2.0.2"><span class="toc-item-num">1.2.0.2&nbsp;&nbsp;</span>Sub Problem 2: How to select customers whose aggregated <code>amount_spent</code> is in a given quantile range?</a></span></li><li><span><a href="#Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?" data-toc-modified-id="Sub-Problem-3:-How-to-label-selected-customers-as-&quot;VIP&quot;-or-&quot;Preferred&quot;?-1.2.0.3"><span class="toc-item-num">1.2.0.3&nbsp;&nbsp;</span>Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?</a></span></li></ul></li></ul></li><li><span><a href="#Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?" data-toc-modified-id="Q2:-How-to-identify-which-country-has-the-most-VIP-Customers?-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Q2: How to identify which country has the most VIP Customers?</a></span></li><li><span><a href="#Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?" data-toc-modified-id="Q3:-How-to-identify-which-country-has-the-most-VIP+Preferred-Customers-combined?-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Q3: How to identify which country has the most VIP+Preferred Customers combined?</a></span></li></ul></li></ul></div>

# Challenge 3

In this challenge we will work on the `Orders` data set (https://drive.google.com/file/d/1xUzMpyQgC5IaK61ehUH2C5P4jCPmLa-s/view?usp=sharing). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Data Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [3]:
# your code here
orders=pd.read_csv("/Users/clemence/Downloads/Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [7]:
# I create a dataframe with aggregating by unique customers with groupby
uniq_customers=orders.groupby(by="CustomerID").sum()
uniq_customers

,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
CustomerID,,,,,,,,,
12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
...,...,...,...,...,...,...,...,...,...
18280,1110495,5457120,20110,30,10,90,45,47.65,180.60
18281,1560699,3895248,14077,42,49,70,54,39.36,80.82
18282,4642134,6838540,24132,116,60,146,103,62.39,178.05
18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [25]:
#use the pd.cut to identify the preferred and VIP clients
quantilerange = 4
labels = ["occasionnal","normal","preferred","VIP"]
labelled_customers = pd.cut(uniq_customers["amount_spent"],quantilerange,labels=labels,retbins=True)
labelled_customers

(CustomerID
 12346         normal
 12347    occasionnal
 12348    occasionnal
 12349    occasionnal
 12350    occasionnal
             ...
 18280    occasionnal
 18281    occasionnal
 18282    occasionnal
 18283    occasionnal
 18287    occasionnal
 Name: amount_spent, Length: 4339, dtype: category
 Categories (4, object): ['occasionnal' < 'normal' < 'preferred' < 'VIP'],
 array([  -280.20602,  70051.505  , 140103.01   , 210154.515  ,
        280206.02   ]))

In [36]:
uniq_customers.join(labelled_customers, how='outer')

AttributeError: 'numpy.ndarray' object has no attribute 'index'

In [26]:
type(labelled_customers)

tuple

In [32]:
len(labelled_customers)

2

In [34]:
#ne fonctionne pas 
uniq_customers["Label"]=
uniq_customers

AttributeError: 'tuple' object has no attribute 'values'

In [21]:
labelled_customers=labelled_customers.transpose()

In [24]:
#concat method
pieces=[uniq_customers,labelled_customers]
pd.concat(pieces,keys="CustomerID",ignore_index=False)

              Unnamed: 0    InvoiceNo      year   month    day    hour  \
  CustomerID
C 12346          61619.0     541431.0    2011.0     1.0    2.0    10.0
  12347       42441700.0  101296926.0  365971.0  1383.0  441.0  2219.0
  12348        2807120.0   16869685.0   62324.0   257.0  111.0   472.0
  12349       35444274.0   42165457.0  146803.0   803.0   73.0   657.0
  12350        1365627.0    9231629.0   34187.0    34.0   51.0   272.0
...                  ...          ...       ...     ...    ...     ...
u 18280              NaN          NaN       NaN     NaN    NaN     NaN
  18281              NaN          NaN       NaN     NaN    NaN     NaN
  18282              NaN          NaN       NaN     NaN    NaN     NaN
  18283              NaN          NaN       NaN     NaN    NaN     NaN
  18287              NaN          NaN       NaN     NaN    NaN     NaN

              Quantity  UnitPrice amount_spent Unnamed 0
  CustomerID
C 12346        74215.0       1.04      77183.6       NaN
  12347         2458.0     481.21       4310.0       NaN
  12348         2341.0     178.71      1797.24       NaN
  12349          631.0     605.10      1757.55       NaN
  12350          197.0      65.30        334.4       NaN
...                ...        ...          ...       ...
u 18280            NaN        NaN  occasionnal       NaN
  18281            NaN        NaN  occasionnal       NaN
  18282            NaN        NaN  occasionnal       NaN
  18283            NaN        NaN  occasionnal       NaN
  18287            NaN        NaN  occasionnal       NaN

[8678 rows x 10 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here