In [1]:
# Import Libraries

In [1]:
import pandas as pd
import numpy as np

### 1. Import the moovies dataset

# https://www.kaggle.com/carolzhangdc/imdb-5000-movie-dataset

In [2]:
moovies=pd.read_csv("/Users/clemence/Downloads/movie_metadata.csv")

In [3]:
moovies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
moovies.shape

(5043, 28)

### 2. Use crosstabs to show the number of moovies per country

In [7]:
pd.crosstab(moovies.country,np.count_nonzero)

col_0                 <function count_nonzero at 0x7f8da88d04c0>
country
Afghanistan                                                    1
Argentina                                                      4
Aruba                                                          1
Australia                                                     55
Bahamas                                                        1
...                                                          ...
Turkey                                                         1
UK                                                           448
USA                                                         3807
United Arab Emirates                                           1
West Germany                                                   3

[65 rows x 1 columns]

### 3. Create a crosstab to show the number of films per director and genre splitted by country

In [11]:
pd.crosstab([moovies.country,moovies.genres,moovies.director_name],np.count_nonzero)

col_0                                                                     <function count_nonzero at 0x7f8da88d04c0>
country              genres                         director_name
Afghanistan          Drama                          Siddiq Barmak                                                  1
Argentina            Drama                          Jorge Gaggero                                                  1
                                                    Lucrecia Martel                                                1
                     Crime|Drama|Thriller           Fabián Bielinsky                                               1
                     Drama|Mystery|Thriller         Juan José Campanella                                           1
...                                                                                                              ...
USA                  Thriller|Western               Fred Zinnemann                                                 1
United Arab Emirates Documentary|Family             Amal Al-Agroobi                                                1
West Germany         Horror|Mystery                 Harald Reinl                                                   1
                     Adventure|Drama|Family|Fantasy Wolfgang Petersen                                              1
                     Adventure|Drama|Thriller|War   Wolfgang Petersen                                              1

[4510 rows x 1 columns]

### 4. Average duration of filmes grouped by color

In [26]:
pd.crosstab(moovies.color,columns="Mean", values = moovies.duration,aggfunc="mean")

col_0                   Mean
color
 Black and White  112.253589
Color             107.042908

### 5. Average number of likes per director (assuming that total film's likes are counted as a sum of actor's likes)

In [19]:
#create a new column with the sum
moovies["actors_likes"]=moovies["actor_1_facebook_likes"]+moovies["actor_2_facebook_likes"]+moovies["actor_3_facebook_likes"]

In [20]:
moovies

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,actors_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000,2791.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0,46000.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000,11554.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000,73000.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84,1425.0
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000,1753.0
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16,0.0
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660,2154.0
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456,125.0

In [24]:
#intempt doing all at once
#pd.crosstab(moovies.director_name,[moovies.actor_1_facebook_likes,moovies.actor_2_facebook_likes,moovies.actor_3_facebook_likes],margins=True,margins_name="Total")

actor_1_facebook_likes 0.0 2.0     3.0     4.0 5.0         6.0  ... 87000.0  \
actor_2_facebook_likes 0.0 0.0 2.0 2.0 3.0 4.0 0.0 2.0 4.0 0.0  ... 17000.0
actor_3_facebook_likes 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 3.0 0.0  ... 16000.0
director_name                                                   ...
A. Raven Cruz            0   0   0   0   0   0   0   0   0   0  ...       0
Aaron Hann               0   0   0   0   0   0   0   0   0   0  ...       0
Aaron Schneider          0   0   0   0   0   0   0   0   0   0  ...       0
Aaron Seltzer            0   0   0   0   0   0   0   0   0   0  ...       0
Abel Ferrara             0   0   0   0   0   0   0   0   0   0  ...       0
...                     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...     ...
Álex de la Iglesia       0   0   0   0   0   0   0   0   0   0  ...       0
Émile Gaudreault         0   0   0   0   0   0   0   0   0   0  ...       0
Éric Tessier             0   0   0   0   0   0   0   0   0   0  ...       0
Étienne Faure            0   0   0   0   0   0   0   0   0   0  ...       0
Total                   22   5   2   2   1   2   4   1   1   1  ...       1

actor_1_facebook_likes 137000.0        164000.0          260000.0        \
actor_2_facebook_likes    459.0 1000.0   2000.0 137000.0    454.0 984.0
actor_3_facebook_likes    163.0 1000.0    898.0    748.0    354.0 891.0
director_name
A. Raven Cruz                 0      0        0        0        0     0
Aaron Hann                    0      0        0        0        0     0
Aaron Schneider               0      0        0        0        0     0
Aaron Seltzer                 0      0        0        0        0     0
Abel Ferrara                  0      0        0        0        0     0
...                         ...    ...      ...      ...      ...   ...
Álex de la Iglesia            0      0        0        0        0     0
Émile Gaudreault              0      0        0        0        0     0
Éric Tessier                  0      0        0        0        0     0
Étienne Faure                 0      0        0        0        0     0
Total                         1      1        1        1        1     1

actor_1_facebook_likes         640000.0 Total
actor_2_facebook_likes 21000.0   8000.0
actor_3_facebook_likes  2000.0   7000.0
director_name
A. Raven Cruz                0        0     1
Aaron Hann                   0        0     1
Aaron Schneider              0        0     1
Aaron Seltzer                0        0     1
Abel Ferrara                 0        0     1
...                        ...      ...   ...
Álex de la Iglesia           0        0     1
Émile Gaudreault             0        0     1
Éric Tessier                 0        0     1
Étienne Faure                0        0     1
Total                        1        1  4919

[2386 rows x 4709 columns]

In [28]:
pd.crosstab(moovies.director_name,columns="Number of likes",values=moovies.actors_likes,aggfunc="sum")

col_0               Number of likes
director_name
A. Raven Cruz                1094.0
Aaron Hann                    406.0
Aaron Schneider             16970.0
Aaron Seltzer                4598.0
Abel Ferrara                 2198.0
...                             ...
Zoran Lisinac                 870.0
Álex de la Iglesia            702.0
Émile Gaudreault              917.0
Éric Tessier                   72.0
Étienne Faure                  19.0

[2398 rows x 1 columns]